/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
     -fx-background-image: url("vector-grey-gradient-advertising-backgorund.jpg");
}

.label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: pink;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

